version: '3.9'

networks:
  backend-mecate_backend_network:  # Cambié el nombre de la red aquí
    driver: bridge

services:
  backend:
    build:
      context: .  # Usa la raíz como el contexto
    ports:
      - "8086:8086"  # Mapeo del puerto 8086
    environment:
      - FLASK_APP=app.py
      - FLASK_RUN_HOST=0.0.0.0
    restart: unless-stopped
    volumes:
      - .:/app
    networks:
      - backend-mecate_backend_network  # Cambié el nombre de la red aquí también
